html {
	font-family: sans-serif;
	font-size: 14px;
}

#wrapper {
	width: 700px;
	margin: 0 auto;
}

.block, .block2 {
	margin: 20px 0;
	padding: 1em;
	line-height: 1.5em;
}

.block {
	border: 1px solid #CCCCCC;
}

.nickname {
	font-weight: bold;
}

.nick1 {
	color: #A3A4E8;
}

.nick2 {
	color: #B2A009;
}

.nick3 {
	color: #FF3F19;
}

.nick4 {
	color: #79B209;
}

.nick5 {
	color: #B2A163;
}

.nick6 {
	color: #33BDFF;
}